<main>
    <a href="/login">Fazer login</a>
    <h2>Cadastro:</h2>
    <form action="/cadastro" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha">
        <button type="submit">Enviar</button>
    </form>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</main>
