<main class="form">
    <section>
        <h2>Login:</h2>
        <form action="/auth/login" method="post">
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha">
            </div>
            <button type="submit">Enviar</button>
            {{#with success}}
            <div class="success">
                <p>{{this}}</p>
            </div>
            {{/with}}
            {{#with errors}}
            <ul class="errors">
                {{#each this as | error |}}
                <li>{{error}}</li>
                {{/each}}
            </ul>
            {{/with}}
        </form>
    </section>
</main>
