<header>
    <a href="/"><h1>Biblioteca de Alexandria</h1></a>
    {{#with session.user}}
    <p>Usuário: {{nome}} <a href="/auth/logout">logout</a></p>
    {{else}}
    <span><a href="/auth/login">login</a><a href="/auth/cadastro">cadastro</a></span>
    {{/with}}
</header>
